<div class="container">
    <h1 class="text-center">Shop</h1>
    <div>
        <h3 class="divider-new">Singles</h3>
        <div class="row">
            <div class="col-md-3 text-center">
                <h5>Glazed</h5>
                <%= image_tag("glazed-donut.png",  :class => "d-block img-fluid darken shop-img") %>
                <%= link_to "Add to Cart", '#', class: 'btn btn-block btn-primary' %>
            </div>
            <div class="col-md-3">
                <h5>Sprinkled</h5>
                <%= image_tag("sprinkle-donut.jpg",  :class => "d-block img-fluid darken shop-img") %>
                <%= link_to "Add to Cart", '#', class: 'btn btn-block btn-primary' %>
            </div>
            <div class="col-md-3">
                <h5>Heart</h5>
                <%= image_tag("heart-donut.jpg",  :class => "d-block img-fluid darken shop-img") %>
                <%= link_to "Add to Cart", '#', class: 'btn btn-block btn-primary' %>
            </div>
            <div class="col-md-3">
                <h5>Specialty</h5>
                <%= image_tag("specialty-donut.jpg",  :class => "d-block img-fluid darken shop-img") %>
                <%= link_to "Add to Cart", '#', class: 'btn btn-block btn-primary' %>
            </div>
        </div>
    </div>
</div>