<div class="container">
    <h1 class="text-center">Shop</h1>
    <div>
        <h3 class="divider-new">Singles</h3>
        <div class="row text-center">
            <div class="col-md-3">
                <h5>Glazed - $0.80</h5>
                <%= image_tag("glazed-donut.png",  :class => "d-block img-fluid darken shop-img carousel-outline navbar-shadow") %>
                <%= link_to "Add to Cart", '#', class: 'btn btn-block btn-primary font-text' %>
            </div>
            <div class="col-md-3">
                <h5>Sprinkled - $0.80</h5>
                <%= image_tag("sprinkle-donut.jpg",  :class => "d-block img-fluid darken shop-img carousel-outline navbar-shadow") %>
                <%= link_to "Add to Cart", '#', class: 'btn btn-block btn-primary font-text' %>
            </div>
            <div class="col-md-3">
                <h5>Heart - $1.00</h5>
                <%= image_tag("heart-donut.jpg",  :class => "d-block img-fluid darken shop-img carousel-outline navbar-shadow") %>
                <%= link_to "Add to Cart", '#', class: 'btn btn-block btn-primary font-text' %>
            </div>
            <div class="col-md-3">
                <h5>Specialty - $1.20</h5>
                <%= image_tag("specialty-donut.jpg",  :class => "d-block img-fluid darken shop-img carousel-outline navbar-shadow") %>
                <%= link_to "Add to Cart", '#', class: 'btn btn-block btn-primary font-text' %>
            </div>
        </div>
    </div>
</div>